DISCORD_TOKEN=YOUR_BOT_TOKEN
CLIENT_ID=YOUR_APPLICATION_ID
GUILD_ID=YOUR_SERVER_ID
DEFAULT_IMAGE_URL=https://example.com/default-event-image.webp
ADMIN_ROLE_IDS=ROLE_FOR_USING_BOT_COMMANDS
AUTO_ROLE_ID=ROLE_TO_ASSIGN_ON_JOIN
